.search-wrapper {
  display: flex;
  flex-direction: row;
}

.search-wrapper input {
  outline: none;
  border: none;
  height: 50%;
  margin: auto;
  border-radius: .75em;
  width: 50vw;
  font-size: 1.25rem;
}

.search-button {
  padding: 10px;
  margin-left: -10px;
  width: fit-content;
  background-color: black;
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;  
  cursor: pointer;
}