.nav-wrapper {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1F2833;
  color: #66FCF1;
}

.nav-brand {
  font-weight: 700;
  font-size: 1.25rem;
}